.intro {

	&__heading {

	}

	&__sub-heading {
		margin-bottom: 15px;
	}

	&__text {}

	&__image {
		float: left;
		display: block;
		width: 115px;
		height: 115px;
		border-radius: 50%;
		margin: -12px 20px 0 10px;
		//-webkit-shape-outside:circle();
		//shape-outside:circle();
	}
}