.personal-info-and-contacts {
  &__list {
    column-count: 2;
    li {
      &.mobile {
        span:nth-of-type(3) {
          margin-left: 41px;
          display: inline-block;
        }
      }
    }
  }
}
