.skills {
	&__heading {}
	&__list {
		column-count: 2;
		span {
			display: inline-block;
			width: 200px;
		}
	}
	&__list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
