<div class="intro">
  <h1 class="intro__heading">
    Oleksandr Chernysh
  </h1>
  <h2 class="intro__sub-heading">
    Markup developer / junior front-end developer
  </h2>
  <div class="intro__card">
    <img
      class="intro__image"
      src="/assets/images/MyImage.jpg"
      alt="Oleksandr Chernysh"
    />
    <p class="intro__text">
      Hello, my name is Oleksandr. For 5+ years I've been working as a markup
      and as a junior front-end developer. I've been working with: landing
      pages, small and large corporate websites, layouts for large Angular and React
      applications. <br />
      Now I want to go on as psychologist... but still I have to have some work
      to get some money. So, I am looking for a job, where I can do what I
      already know (HTML/JSX/SCSS/jQuery/basics of React) until I can work as
      psychologist. So, if you have some routine work like that - please let me
      know.
    </p>
  </div>
</div>
