<div class="intro">
  <h1 class="intro__heading">
    Oleksandr Chernysh
  </h1>
  <h2 class="intro__sub-heading">
    Junior React Developer
  </h2>
  <div class="intro__card">
    <img
      class="intro__image"
      src="/assets/images/MyImage.jpg"
      alt="Oleksandr Chernysh"
    />
    <p class="intro__text">
      Hi, I'm Sasha! For 5+ years I've been working as a markup developer and as
      a junior front-end developer. I've been working with ukrainian teams, also
      I have work experience with one american team. Now I'm looking for a
      full-time/part-time remote junior react developer position. It would be
      great if I could work in international team, so I can learn from my
      colleagues from abroad.
    </p>
  </div>
</div>
