<div class="languages">
	<h3 class="languages__heading">Languages</h3>
	<ul class="languages__list">
		<li>
			<span>Ukrainian:</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
			</ul>
		</li>
		<li>
			<span>Russian:</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
			</ul>
		</li>
		<li>
			<span>English:</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
	</ul>
</div>