<div class="personal-info-and-contacts">
	<h3 class="personal-info-and-contacts__heading">Personal info and contacts</h3>
	<ul class="personal-info-and-contacts__list">
		<li>
			<span>DOB:</span>
			<span>08.22.1986</span>
		</li>
		<li>
			<span>Location:</span>
			<span>Kyiv</span>
		</li>
		<li>
			<span>Relocation:</span>
			<span>ready to relocate</span>
		</li>
		<li>
		<span>Skype:</span>
		<span href="skype:mashingver_san?chat">mashingver_san</span>
		</li>
		<li class="mobile">
		<span>Mobile:</span>
		<span>+ 38 (096) 881 3981</span>, <br>
		<span>+ 38 (093) 923 8969</span>
		</li>
		<li>
			<span>Email:</span>
			<a href="mailto:mashingver@gmail.com">mashingver@gmail.com</a>
		</li>
		<li>
			<span>LinkedIn: </span>
			<a href="http://www.linkedin.com/in/oleksandr-chernysh" target="_blank">Chernysh Oleksandr</a>
		</li>
	</ul>
</div>