<div class="personal-info-and-contacts">
  <h3 class="personal-info-and-contacts__heading">
    Personal info and contacts
  </h3>
  <ul class="personal-info-and-contacts__list">
    <li>
      <span>DOB:</span>
      <span>08.22.1986</span>
    </li>
    <li>
      <span>Location:</span>
      <span>Ukraine</span>
    </li>
    <li class="mobile">
      <span>Mobile:</span>
      <a href="tel:+380939238969">+ 38 (093) 923 8969</a>
    </li>
    <li>
      <span>Email:</span>
      <a href="mailto:chernysh.olexandr@gmail.com">chernysh.olexandr@gmail.com</a>
    </li>
    <li>
      <span>Skype:</span>
      <a href="skype:live:oc_329?chat">Oleksandr Chernysh</a>
    </li>
    <li>
      <span>LinkedIn: </span>
      <a href="http://www.linkedin.com/in/oleksandr-chernysh" target="_blank"
        >Oleksandr Chernysh</a
      >
    </li>
  </ul>
</div>
