<div class="portfolio">
	<h3 class="portfolio__heading">My works and projects i contributed to</h3>
	<ul class="portfolio__list">
		<li><a href="http://ctdev.io/">ctdev.io</a> (source on <a href="https://gitlab.com/mashingver/ctdev/tree/master">gitlab</a>)
		</li>
		<li><a href="http://gearsforce.co/">gearsforce.co</a> (source on <a
			href="https://gitlab.com/mashingver/gearsforce/tree/master">gitlab</a>)
		</li>
		<li><a href="https://inovasystems.net/">inovasystems.net</a> (source on <a
			href="https://gitlab.com/mashingver/inova/tree/master">gitlab</a>)
		</li>
		<li><a href="https://www.rheasecurity.com/">rheasecurity.com</a> (source on <a
			href="https://gitlab.com/mashingver/rhea/tree/master">gitlab</a>)
		</li>
		<li><a href="https://www.artec3d.com/">artec3d.com</a></li>
		<li><a href="http://cbmaster.net/">cbmaster.net</a></li>
		<li><a href="http://itforum.co/">itforum.co</a></li>
		<li><a href="http://masterdata.tech/">masterdata.tech</a></li>
		<li><a href="https://descargar.mobi/">descargar.mobi</a></li>
		<li><a href="https://www.movinga.de/">movinga.de</a></li>
		<li><a href="https://www.qbclean.com/">qbclean.com</a></li>
		<li><a href="http://shokolad.com.ua/">shokolad.com.ua</a></li>
	</ul>
</div>