<div class="portfolio">
  <h3 class="portfolio__heading">
    Some of my works and projects I contributed to (other works are under NDA)
  </h3>
  <ul class="portfolio__list">
    <li>
      <a href="http://ctdev.io">ctdev.io</a>
    </li>
    <li>
      <a href="https://inovasystems.net">inovasystems.net</a>
    </li>
    <li><a href="https://www.artec3d.com">artec3d.com</a></li>
    <li><a href="http://masterdata.tech">masterdata.tech</a></li>
    <li><a href="https://www.movinga.de">movinga.de</a></li>
    <li><a href="http://qbclean.com">qbclean.com</a></li>
    <li>
      <a href="https://execeye.dashboardonline.com"
        >execeye.dashboardonline.com</a
      >
    </li>
    <li><a href="https://web.app.scandard.com">web.app.scandard.com</a></li>
    <li><a href="http://www.hoodifood.com">hoodifood.com</a></li>
    <li><a href="http://sossitter.ca">sossitter.ca</a></li>
    <li><a href="http://www.wgames.com">wgames.com</a></li>
  </ul>
</div>
