<div class="portfolio">
	<h3 class="portfolio__heading">
		Some of my works and projects i contributed to (these are old works, my recent works is under NDA)
	</h3>
	<ul class="portfolio__list">
		<li><a href="http://ctdev.io">ctdev.io</a> (source on <a href="https://gitlab.com/mashingver/ctdev/tree/master">gitlab</a>)
		</li>
		<li><a href="https://inovasystems.net">inovasystems.net</a> (source on <a
			href="https://gitlab.com/mashingver/inova/tree/master">gitlab</a>)
		</li>
		<li><a href="https://www.artec3d.com">artec3d.com</a></li>
		<li><a href="http://sossitter.ca">sossitter.ca</a></li>
		<li><a href="http://masterdata.tech">masterdata.tech</a></li>
		<li><a href="https://www.movinga.de">movinga.de</a></li>
	</ul>
</div>
