<div class="skills">
	<h3 class="skills__heading">Areas of expertise</h3>
	<ul class="skills__list">
		<li>
			<span>HTML5</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
			</ul>
		</li>
        <li>
			<span>CSS2/3</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
			</ul>
		</li>
		<li>
			<span>SCSS/SMACSS</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
  
		<li>
			<span>ES5/6</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
		<li>
			<span>jQuery</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
        <li>
            <span>React.js</span>
            <ul class="rating">
                <li class="dot active"></li>
                <li class="dot active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </li>
        <li>
            <span>Gulp</span>
            <ul class="rating">
                <li class="dot active"></li>
                <li class="dot active"></li>
                <li class="dot active"></li>
                <li class="dot active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </li>
		<li>
			<span>Git</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
		<li>
			<span>Grunt</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
		<li>
			<span>Webpack</span>
			<ul class="rating">
				<li class="dot active"></li>
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
		</li>
		
        <li>
            <span>Sketch/Photoshop</span>
            <ul class="rating">
                <li class="dot active"></li>
                <li class="dot active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </li>
        <li>
            <span>Node.js</span>
            <ul class="rating">
                <li class="dot active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </li>
	</ul>
</div>