<div class="skills">
  <h3 class="skills__heading">Areas of expertise</h3>
  <ul class="skills__list">
    <li class="skills__list-item">
      <span>HTML5</span>
      <span>6 years</span>
    </li>
    <li class="skills__list-item">
      <span>CSS2/3</span>
      <span>6 years</span>
    </li>
    <li class="skills__list-item">
      <span>SCSS/SMACSS</span>
      <span>5 years</span>
    </li>
    <li class="skills__list-item">
      <span>Git</span>
      <span>4 years</span>
    </li>
    <li class="skills__list-item">
      <span>jQuery</span>
      <span>4 years</span>
    </li>
    <li class="skills__list-item">
      <span>ES5/6</span>
      <span>2 years</span>
    </li>
    <li class="skills__list-item">
      <span>React.js</span>
      <span>3 months</span>
    </li>
    <li class="skills__list-item">
      <span>GreenSock.js</span>
      <span>1 month</span>
    </li>
  </ul>
</div>
