<div class="skills">
  <h3 class="skills__heading">Areas of expertise</h3>
  <ul class="skills__list">
    <li class="skills__list-item">
      <span>HTML5</span>
      <span>4/5</span>
    </li>
    <li class="skills__list-item">
      <span>CSS2/3</span>
      <span>4/5</span>
    </li>
    <li class="skills__list-item">
      <span>SCSS/SMACSS</span>
      <span>4/5</span>
    </li>
    <li class="skills__list-item">
      <span>ES5/6</span>
      <span>2/5</span>
    </li>
    <li class="skills__list-item">
      <span>React</span>
      <span>1/5</span>
    </li>
    <li class="skills__list-item">
      <span>jQuery</span>
      <span>3/5</span>
    </li>
    <li class="skills__list-item">
      <span>Git</span>
      <span>2/5</span>
    </li>
    <li class="skills__list-item">
      <span>Sketch/Photoshop/Figma</span>
      <span>1/5</span>
    </li>
  </ul>
</div>
