<div class="work-experience">
	<h3 class="work-experience__heading">Work experience</h3>
	<ul class="work-experience__list">
		<li class="work-experience__item">
			<h4>Mil's</h4>
			<h5>HTML Coder</h5>
			<span>09.2016 – 12.2016</span>
			<p>Creating layouts for corporate websites. Integrating layouts into WordPress.</p>
		</li>
		<li class="work-experience__item">
			<h4>ASAPP (Customertimes corp.)</h4>
			<h5>HTML Coder</h5>
			<span>08.2015 - 08.2016</span>
			<p>Creating layouts for landing pages, corporate websites and SPA. Integrating layouts into Drupal. Creating interactive presentations for SalesForce CRM.</p>
		</li>
		<li class="work-experience__item">
			<h4>PlanA</h4>
			<h5>HTML Coder</h5>
			<span>04.2015 - 07.2015</span>
			<p>Creating html layouts for corporate websites. Integrating layouts into MODX.</p>
		</li>
	</ul>
</div>