@import "https://fonts.googleapis.com/css?family=Roboto:300,400";

$mainFont: "Roboto", sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$colorText: rgba(26, 8, 34, 0.9);
$colorBorders: rgba($colorText, 0.1);
$colorBackground: rgb(252, 243, 227);
$colorActive: rgba(3, 17, 57, 0.9);
