@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

$mainFont: 'Roboto', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$colorText: rgba(3, 22, 34, 0.93);
//rgb(96, 116, 128)
$colorBorders: rgba($colorText, .3);
$colorBackground: rgba(248, 242, 227, 0.9);
$colorActive: #09486f;