@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

$mainFont: 'Roboto', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$colorText: rgba(26, 8, 34, 0.85);
//rgb(96, 116, 128)
$colorBorders: rgba($colorText, .3);
$colorBackground: rgba(248, 242, 227, 0.9);
$colorActive: rgba(69, 50, 117, 0.89);